@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,900;1,100;1,200;1,300;1,500;1,900&display=swap');
@font-face {
    font-family: "ModernAge";
    src: url(Fonts/Modern\ Age.ttf);
}
@font-face {
    font-family: "Quincy";
    src: url(Fonts/QuincyItalic-Ea3Rz.ttf);
}
@font-face {
    font-family: "AvenirBlack";
    src: url(Fonts/AvenirLBlack.otf);
}
@font-face {
    font-family: "AvenirBook";
    src: url(Fonts/AvenirLBook.otf);
}
@font-face {
    font-family: "AvenirRoman";
    src: url(Fonts//AvenirLRoman.otf);
}

:root{
    --lightred: #f83600;
    --darkgreen: #038922;
    --lightgreen: #00f840;
    --darkred: #890303;
    --lightgray: #070c0e;
    --mildwhite: #a0a9ae;
    --blue: #000507;
    --Book: #e7edf1;
    --AD:#ffffff;
    --lightblue:#283b4c;
    --newGradient: linear-gradient(90deg, var(--lightgreen), var(--darkgreen));
    --gradient: linear-gradient(90deg, var(--lightred), var(--darkred));
}

*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    color: var(--Book);
    text-decoration: none;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 9%;
    position: fixed;
    width: 82%;
    background: var(--blue);
    z-index: 2;
}

.logo{
    font-size: 13px;
    font-weight: 300;
}

.logo span{
    font-size: 13px;
    font-weight: 900;
}


header ul, li{
    display: flex;
    margin-right: 2rem;
    font-size: 15px;
    font-weight: 400;
    justify-content: space-around;
}

header ul a :hover{
    color: var(--lightred);
}

header button{
    border: 0;
    padding: .5rem 2rem;
    border-radius: .3rem;
    background: var(--gradient);
    color: var(--Book);
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

Body{
    background:var(--blue) ;
    color: var(--Book);
}

.Home{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0 6% 0 9%;
    background-position: center;
    background-size: cover;
}

.Hometxt{
    width: 60%;
    padding-right: 6%;
    margin-top: 4%;
}

.Hometxt h1{
    font-size: 3.6vw;
    font-weight: 800;
}

.Hometxt h1 span{
    color: var(--lightred);
}

.Hometxt p{
    margin-top: 2rem;
    font-size: 1.2vw;
    font-weight: 400;
}

.Hometxt button{
    border: 0;
    padding: .7rem 2rem;
    border-radius: .2rem;
    background: var(--gradient);
    color: var(--Book);
    font-size: 15px;
    font-weight: 400;
    margin-top: 2.5rem;
    cursor: pointer;
}

.Homeimg{
    width: 40%;
    margin-top: 2%;
}

.Homeimg img{
    max-width: 100%;
    height: auto;
}

.AboutFOAP{
    display: flex;
    flex-direction: column;
    background: url(Images/aboutbg.png) no-repeat;
    background-position: center;
    background-size: cover;
    padding: 5% 9%;
}

.AboutTop{
    display: flex;
    flex-direction: column;
}

.AboutTop h6{
    font-weight: 300;
    font-size: .7vw;
    color: var(--lightgreen);
    margin-top: 2rem;
    font-family: Avenirbook;
}

.AboutTop h1{
    margin-top: .5rem;
    font-size: 2.5vw;
    font-weight: 700;
    font-family: AvenirBlack;
}

.AboutTop p{
    margin-top: -1rem;
    font-weight: 400;
    font-size: 1vw;
    font-family: Avenirbook;
}

.AboutCTA{
    margin: 3rem 0;
    display: flex;
    align-items: center;
    justify-content: left;
}

.CTALM{
    font-size: .8vw;
    font-weight: 600;
    padding: .7rem 2.5rem;
    border: 0;
    border-radius: 5rem;
    background: var(--newGradient);
    color: var(--Book);
    margin-right: 4rem;
    cursor: pointer;
}

.CTAWV{
    font-size: .8vw;
    font-weight: 600;
    padding: .7rem 2rem;
    border: 0;
    border-radius: 5rem;
    background: var(--lightblue);
    color: var(--Book);
    display: flex;
    align-items: center;
    cursor: pointer;
}

.CTAWV img{
    max-width: 1vw;
    height: auto;
    margin-right: .4rem;
}

.AboutButtom{
    display: flex;
    align-items: end;
}

.ABLeft{
    width: 60%;
    padding-right: 9rem;
}

.ABLeft h2{
    font-weight: 700;
    font-size: 2vw;
    margin-top: 1rem;
}

.ABLeft p{
    font-size: 1vw;
    font-weight: 400;
    font-family: Avenirbook;
    margin-top: 2rem;
    text-align: left;
}

.ABRight{
    width: 40%;
}

.Afloat{
    background: var(--lightgray);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: .3rem;
}

.Afloat h2{
    font-size: 1.2vw;
    font-weight: 700;
}

.Afloat p{
    margin: 2rem 0;
    font-size: .9vw;
    font-size: 400;
    font-family: Avenirbook;
}

.Afloat button{
    font-size: .8vw;
    font-weight: 600;
    padding: .7rem 2.5rem;
    border: 0;
    border-radius: 5rem;
    background: var(--newGradient);
    color: var(--blue);
    cursor: pointer;
    width: 100%;
}




.Discover{
    display: flex;
    background: var(--Book);
    color: var(--blue);
    padding: 4rem 5%;
    padding-top: 5rem;
}

.DiscoverLeft{
    width: 50%;
    margin-right: 9vw;
    margin-top: 3rem;
}

.join{
    margin: 1rem 0 3rem 0;
    background: var(--AD);
    padding: 2rem ;
    border-radius: .7rem;
}

.join h1{
    font-size: 3.4vw;
    font-weight: 400;
}

.join h1 span{
    color: var(--lightred);
}

.join p{
    margin-top: 2rem;
    font-size: 1vw;
    font-style: italic;
    padding-right: 4rem;
}

.Jcta{
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
}

.lane{
    border: 0;
    padding: .6rem 1.3rem;
    border-radius: 3rem;
    background: var(--gradient);
    color: var(--Book);
    font-size: .8vw;
    font-weight: 400;
    cursor: pointer;
}

.bplane{
    border: 0;
    padding: .6rem 1.3rem;
    border-radius: 3rem;
    background: var(--AD);
    color: var(--blue);
    font-size: .8vw;
    font-weight: 400;
    cursor: pointer;
    font-style: italic;
    margin-left: 2vw;
}

.prop{
    margin: 2rem 0 5rem 0;
    background: var(--AD);
    padding: 2rem ;
    border-radius: .7rem;
}

.prop h1{
    font-weight: 400;
    font-size: 1.8vw;
}

.prop h2{
    font-weight: 900;
    font-size: 1.9vw;
    margin-bottom: 2rem;
}

.prop h2 span{
    color: var(--lightred);
}

.prop p{
    font-size: 1vw;
    font-weight: 400;
    text-align: left;
    margin-bottom: 2rem;
}

.prop button{
    border: 0;
    padding: .9rem 1.3rem;
    border-radius: .3rem;
    background: var(--gradient);
    color: var(--Book);
    font-size: 1.3vw;
    font-weight: 400;
    cursor: pointer;
    width: 100%;
}

.grassroot{
    padding: 0 2rem;
}

.grassroot h1{
    font-weight: 400;
    font-size: 4vw;
    margin-bottom: 2rem;
}

.grassroot h1 span{
    color: var(--lightred);
}

.grassroot p{
    font-weight: 400;
    font-size: 1.3vw;
    text-align: left;
}


.DiscoverRight{
    width: 50%;
}

.youtube{
    display: flex;
    align-items: center;
    justify-content: center;
}

.youtube img{
    max-width: 30%;
    height: auto;
    margin-right: -2vw;
    z-index: 1;
    border-radius: .4rem;
}

.youtube video{
    max-width: 60%;
    height: auto;
    background: var(--lightblue);
    border-radius: .8rem;
}

.blogprev{
    background: var(--blue);
    color: var(--Book);
    margin-top: 10rem;
    padding: 2rem;
    border-radius: .6rem;
}

.prevhead{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 3rem 0;
}

.prevhead h1{
    background: var(--gradient);
    padding: .4rem 1.2rem;
    border-radius: 3rem;
    font-size: 1vw;
    font-weight: 500;
}

.prevhead img{
    max-width: 10%;
    height: auto;
}

.blogprev h2{
    font-weight: 400;
    font-size: 2vw;
    margin-bottom: 2rem;
}

.blogprev h2 span{
    color: var(--lightred);
}

.blogprev p{
    text-align: left;
    font-weight: 400;
    font-size: 1vw;
    margin-bottom: 2rem;
}

.blogprev button{
    width: 100%;
    padding: 1rem 0 ;
    border: 0;
    color: var(--blue);
    background: var(--Book);
    font-weight: 600;
    font-size: 1vw;
}

.Events{
    display: flex;
    flex-direction: column;
    padding: 3rem 6%;
}

.eTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.etLeft{
    display: flex;
    align-items: center;
}

.etLeft h1{
    margin-right: 2rem;
    font-weight: 400;
    font-size: 1vw;
    background: var(--gradient);
    padding: .6rem 2rem;
    border-radius: 5rem;
    margin-top: 4vh;
}

.etLeft h2{
    font-weight: 300;
    font-size: .8vw;
    font-style: italic;
    color: var(--mildwhite);
}

.eTop input{
    background: var(--lightgray);
    padding:  .4rem .8rem;
    border: 0;
    width: 25vw;
    border-radius: .2rem;
    color: var(--Book);
}

.eTop  ::placeholder{
    font-style: italic;
    font-weight: 300;
    font-size: 1vw;
}

.Events h3{
    margin-bottom: 4rem;
    font-weight: 400;
    font-size: 2vw;
    text-align: center;
}

.Events h3 span{
    color: var(--lightred);
}

.eListCon{
    display: flex;
    align-items: top;
    justify-content: space-between;
}


.eObi{
    width: 33%;
    max-height: fit-content;
    background: url(Images/eObi.png) no-repeat;
    background-position: center;
    background-size: cover;
    padding: 30Vh 3% 6vh 6vh;
    border-radius: .4rem;
}

.eObi .eOmu .eAsagbo, h1{
    font-weight: 400;
    font-size: 1.5vw;
    margin-bottom: 2rem;
}

.eObi .eOmu .eAsagbo, h1 span{
    color: var(--lightred);
}

.eCTA{
    display: flex;
    align-items: center;
}

.eCTAB{
    border: 0;
    padding: .5rem 1.3rem;
    border-radius: .3rem;
    background: var(--Book);
    color: var(--blue);
    font-size: .7vw;
    font-weight: 400;
    cursor: pointer;
    margin-right: 2vw;
}

.eCTAV{
    border: none;
    background: 0;
    color: var(--Book);
    display: flex;
    align-items: center;
}

.eCTAV img{
    max-width: 100%;
    height: auto;
    margin-left: .4rem;
}

.eOmu{
    width: 33%;
    max-height: fit-content;
    background: url(Images//eOmu.png) no-repeat;
    background-position: center;
    background-size: cover;
    padding: 30Vh 3% 6vh 6vh;
    margin-left: 6vw;
    border-radius: .4rem;
}

.eAsagbo{
    width: 33%;
    max-height: fit-content;
    background: url(Images/eAsagbo.png) no-repeat;
    background-position: center;
    background-size: cover;
    padding: 30Vh 3% 6vh 6vh;
    margin-left: 6vw;
    border-radius: .4rem;
}


.Represent{
    display: flex;
    align-items: top;
    justify-content: space-between;
    padding: 5rem 6%;
}

.rpLeft{
    width: 50%;
    margin-right: 9rem;
}

.rpLeft h1{
    font-weight: 300;
    font-size: 3vw;
    margin-bottom: 4rem;
}

.Represent details{
    background: var(--gradient);
    margin: 2rem 0;
    font-weight: 600;
    font-size: 1.2vw;
    border-radius: .3rem;
}

.Represent summary{
    padding: 1rem;
}


.rpLeft p{
    padding: 1rem;
    background: var(--lightgray);
    padding: 2rem ;
    font-weight: 300;
    font-size: 1vw;
    text-align: justify;
    border-radius: 0 0 .2rem .2rem;
}

.rpRight{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rpRight h2{
    font-weight: 400;
    font-size: 1.8vw;
    text-align: center;
    margin-bottom: 2rem;
}

.rpRight h2 span{
    color: var(--lightred);
}

.rpRight p{
    text-align: center;
    font-weight: 400;
    font-size: 1vw;
}

.Obireviews, .Amandareviews{
    display: flex;
    flex-direction: column;
    background: var(--lightgray);
    padding: 2rem;
    margin-top: 3rem;
    border-radius: .5rem;
}

.revtopp{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.revtopp img{
    max-width: 15%;
    height: auto;
    margin-right: 1rem;
}

.revtopp h6{
    font-weight: 500;
    font-size: .9vw;
}

.Obireviews p{
    text-align: left;
    font-weight: 300;
    font-size: .9vw;
    margin-bottom: 2rem;
}

.Amandareviews p{
    text-align: left;
    font-weight: 300;
    font-size: .9vw;
    margin-bottom: 2rem;
}

.revfoot{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.revfootLeft{
    display: flex;
    align-items: center;
}

.revfoot img{
    max-width: 10%;
    height: auto;
    margin-right: 1rem;
}

.reaterName h4{
    font-weight: 600;
    font-size: .9vw;
}

.reaterName h5{
    font-weight: 300;
    font-size: .75vw;
    margin-top: .2rem;
    font-style: italic;
}

.Amandareviews .revfootLeft img{
    max-width: 12%;
    height: auto;
    margin-right: 1rem;
}


.Gallery{
    padding: 12vw 9%;
    background: url(Images/Gallerybg.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.Gallery h1{
    font-size: 3vw;
    font-weight: 900;
    font-family: AvenirBlack;
    font-style: italic;
    line-height: 6vh;

}

.Gallery h1 span{
    font-size: 2.2vw;
    font-weight: 400;
    font-family: AvenirBook;

}

.Gallery p{
    font-size: 1.1vw;
    font-weight: 400;
    font-family: AvenirBook;
    font-style: italic;
    margin-bottom: 2rem;
}

.Gallery button{
    font-size: .8vw;
    font-weight: 600;
    padding: .7rem 2.5rem;
    border: 0;
    border-radius: 5rem;
    background: var(--gradient);
    color: var(--Book);
    margin-right: 4rem;
    cursor: pointer;
}


.Newsletter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5rem 0;
    background: var(--lightgray);
    padding: 4rem 9%;
}

.NLright{
    width: 50%;
}

.NLright h2{
    font-size: 3vw;
    font-weight: 600;
    font-family: AvenirBook;
}

.NLright p{
    font-size: 1vw;
    font-weight: 400;
    font-family: AvenirBook;
    margin-top: .8rem;
}

.NLright p span{
    color: var(--lightgreen);
}

.NLLeft{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.NLLeft input{
    background: var(--blue);
    padding: 1.4vw 3vw;
    border-radius: 5rem;
    border: 0;
    font-size: 1vw;
    font-weight: 400;
    color: var(--AD);
    margin-left: 2rem;
}

.NLLeft button{
    border: 0;
    background: var(--newGradient);
    padding: 1.1vw 3vw;
    border-radius: 5rem;
}

.NLLeft img{
    max-width: 1.5vw;
    height: auto;
}


.Banor{
    background-color: var(--blue);
    display: flex;
}

.Bannor-con{
    display: flex;
    align-items: center;
    margin: 5%;
    background: var(--lightgray);
    padding: 1.5rem;
    border-radius: .5rem;
}

.banl{
    width: 40%;
    background: url(Images/banor1.png) no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    border-radius: .2rem;
    margin-right: 3vw;
}

.banr{
    width: 60%;
}

.banr h1{
    font-size: 3.5vw;
    font-weight: 500;
    margin-top: 3vh;
}

.banr h1 span{
    color: var(--lightred);
}

.banr p{
    font-size: 1.4vw;
    font-weight: 500;
    font-family: AvenirBook;
    margin-right: 1.5rem;
}
















@media only screen and (max-width: 600px){
    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2rem 9%;
        position: fixed;
        width: 82%;
        z-index: 2;
    }
    
    .logo{
        font-size: 13px;
        font-weight: 300;
    }
    
    .logo span{
        font-size: 13px;
        font-weight: 900;
    }
    
    
    header ul, li{
        display: none;
        margin-right: 2rem;
        font-size: 15px;
        font-weight: 400;
        justify-content: space-around;
    }
    
    header ul a :hover{
        color: var(--lightred);
    }
    
    header button{
        border: 0;
        padding: .5rem 1.5rem;
        border-radius: .3rem;
        background: var(--gradient);
        color: var(--Book);
        font-size: 10px;
        font-weight: 600;
        cursor: pointer;
    }
    
    Body{
        background:var(--blue) ;
        color: var(--Book);
    }
    
    .Home{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0 6% 0 3%;
        background: url(Images) no-repeat;
        background-position: center;
        background-size: cover;
    }
    
    .Hometxt{
        width: 100%;
        padding-right: 6%;
        margin-top: 0%;
    }
    
    .Hometxt h1{
        font-size: 6.6vw;
        font-weight: 800;
    }
    
    .Hometxt h1 span{
        color: var(--lightred);
    }
    
    .Hometxt p{
        margin-top: 1rem;
        font-size: 2.5vw;
        font-weight: 400;
        margin-right: 10%;
    }
    
    .Hometxt button{
        border: 0;
        padding: .7rem 2rem;
        border-radius: .2rem;
        background: var(--gradient);
        color: var(--Book);
        font-size: 15px;
        font-weight: 400;
        margin-top: 1.5rem;
        cursor: pointer;
    }
    
    .Homeimg{
        width: 100%;
        margin-top: 4%;
        display: none;
    }
    
    .Homeimg img{
        max-width: 100%;
        height: auto;
    }
    

    .AboutFOAP{
        display: flex;
        flex-direction: column;
        background: url(Images/aboutbg.png) no-repeat;
        background-position: center;
        background-size: cover;
        padding: 5% 9%;
    }
    
    .AboutTop{
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
    }
    
    .AboutTop h6{
        font-weight: 300;
        font-size: 1.7vw;
        color: var(--lightgreen);
        margin-top: .4rem;
        font-family: Avenirbook;
    }
    
    .AboutTop h1{
        margin-top: .5rem;
        font-size: 4.5vw;
        font-weight: 700;
        font-family: AvenirBlack;
    }
    
    .AboutTop p{
        margin-top: -.5rem;
        font-weight: 400;
        font-size: 2vw;
        font-family: Avenirbook;
    }
    
    .AboutCTA{
        margin: 1.5rem 0;
        display: flex;
        align-items: center;
        justify-content: left;
    }
    
    .CTALM{
        font-size: 1.8vw;
        font-weight: 600;
        padding: .7rem 2rem;
        border: 0;
        border-radius: 5rem;
        background: var(--newGradient);
        color: var(--Book);
        margin-right: 2rem;
        cursor: pointer;
    }
    
    .CTAWV{
        font-size: 1.8vw;
        font-weight: 600;
        padding: .7rem 1.5rem;
        border: 0;
        border-radius: 5rem;
        background: var(--lightblue);
        color: var(--Book);
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    
    .CTAWV img{
        max-width: 3vw;
        height: auto;
        margin-right: .4rem;
    }
    
    .AboutButtom{
        display: flex;
        flex-direction: column;
        align-items: end;
    }
    
    .ABLeft{
        width: 100%;
        padding-right: 0rem;
    }
    
    .ABLeft h2{
        font-weight: 700;
        font-size: 2vw;
        margin-top: .4rem;
    }
    
    .ABLeft p{
        font-size: 2.2vw;
        font-weight: 400;
        font-family: Avenirbook;
        margin: 2rem 0;
        text-align: left;
    }
    
    .ABRight{
        width: 100%;
    }
    
    .Afloat{
        background: var(--lightgray);
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: .3rem;
        margin-bottom: 2rem;
    }
    
    .Afloat h2{
        font-size: 3.5vw;
        font-weight: 700;
    }
    
    .Afloat p{
        margin: 1rem 0;
        font-size: 2.2vw;
        font-size: 400;
        font-family: Avenirbook;
    }
    
    .Afloat button{
        font-size: 2.4vw;
        font-weight: 600;
        padding: .7rem 2.5rem;
        border: 0;
        border-radius: 5rem;
        background: var(--newGradient);
        color: var(--blue);
        cursor: pointer;
    }

    .Discover{
        display: flex;
        flex-direction: column;
        background: var(--Book);
        color: var(--blue);
        padding: 4rem 5%;
        padding-top: 0rem;
    }
    
    .DiscoverLeft{
        width: 100%;
        margin-right: 9vw;
        margin-top: 0;
    }
    
    .join{
        margin: 1rem 0 3rem 0;
        background: var(--AD);
        padding: 2rem ;
        border-radius: .7rem;
    }
    
    .join h1{
        font-size: 6.4vw;
        font-weight: 400;
    }
    
    .join h1 span{
        color: var(--lightred);
    }
    
    .join p{
        margin-top: 1.5rem;
        font-size: 3.5vw;
        font-style: italic;
        padding-right: 0rem;
    }
    
    .Jcta{
        margin-top: 1.5rem;
        display: flex;
        align-items: center;
    }
    
    .lane{
        border: 0;
        padding: .6rem 1.3rem;
        border-radius: 3rem;
        background: var(--gradient);
        color: var(--Book);
        font-size: 2vw;
        font-weight: 400;
        cursor: pointer;
    }
    
    .bplane{
        border: 0;
        padding: .6rem 1.3rem;
        border-radius: 3rem;
        background: var(--AD);
        color: var(--blue);
        font-size: 2vw;
        font-weight: 400;
        cursor: pointer;
        font-style: italic;
        margin-left: 2vw;
    }
    
    .prop{
        margin: 2rem 0 3rem 0;
        background: var(--AD);
        padding: 2rem ;
        border-radius: .7rem;
    }
    
    .prop h1{
        font-weight: 400;
        font-size: 3.8vw;
    }
    
    .prop h2{
        font-weight: 900;
        font-size: 3.9vw;
        margin-bottom: 2rem;
    }
    
    .prop h2 span{
        color: var(--lightred);
    }
    
    .prop p{
        font-size: 3vw;
        font-weight: 400;
        text-align: left;
        margin-bottom: 2rem;
    }
    
    .prop button{
        border: 0;
        padding: .9rem 1.3rem;
        border-radius: .3rem;
        background: var(--gradient);
        color: var(--Book);
        font-size: 3.3vw;
        font-weight: 400;
        cursor: pointer;
        width: 100%;
    }
    
    .grassroot{
        padding: 0 2rem;
    }
    
    .grassroot h1{
        font-weight: 400;
        font-size: 7vw;
        margin-bottom: 2rem;
    }
    
    .grassroot h1 span{
        color: var(--lightred);
    }
    
    .grassroot p{
        font-weight: 400;
        font-size: 3vw;
        text-align: left;
    }
    
    
    .DiscoverRight{
        width: 100%;
        margin-top: 3rem;
    }
    
    .youtube{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .youtube img{
        max-width: 30%;
        height: auto;
        margin-right: -2vw;
        z-index: 1;
        border-radius: .4rem;
    }
    
    .youtube video{
        max-width: 60%;
        height: auto;
        background: var(--lightblue);
        border-radius: .8rem;
    }
    
    .blogprev{
        background: var(--blue);
        color: var(--Book);
        margin-top: 3rem;
        padding: 1.5rem;
        border-radius: .6rem;
    }
    
    .prevhead{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 0 1.4rem 0;
    }
    
    .prevhead h1{
        background: var(--gradient);
        padding: .4rem 1.2rem;
        border-radius: 3rem;
        font-size: 2.5vw;
        font-weight: 500;
    }
    
    .prevhead img{
        max-width: 8%;
        height: auto;
    }
    
    .blogprev h2{
        font-weight: 400;
        font-size: 4vw;
        margin-bottom: 1.5rem;
    }
    
    .blogprev h2 span{
        color: var(--lightred);
    }
    
    .blogprev p{
        text-align: left;
        font-weight: 400;
        font-size: 2.3vw;
        margin-bottom: 1.5rem;
    }
    
    .blogprev button{
        width: 100%;
        padding: 1rem 0 ;
        border: 0;
        color: var(--blue);
        background: var(--Book);
        font-weight: 600;
        font-size: 3vw;
    }

    .Events{
        display: flex;
        flex-direction: column;
        padding: 1rem 6%;
        overflow: auto;
    }
    
    .eTop{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1.5rem;
    }
    
    .etLeft{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .etLeft h1{
        margin-right: 0rem;
        font-weight: 400;
        font-size: 2.5vw;
        background: var(--gradient);
        padding: .6rem 2rem;
        border-radius: 5rem;
        margin-top: 2vh;
    }
    
    .etLeft h2{
        font-weight: 300;
        font-size: 1.8vw;
        font-style: italic;
        color: var(--mildwhite);
        display: none;
    }
    
    .eTop input{
        background: var(--lightgray);
        padding:  .2rem .8rem;
        border: 0;
        width: 35vw;
        border-radius: .2rem;
        color: var(--Book);
    }
    
    .eTop  ::placeholder{
        font-style: italic;
        font-weight: 300;
        font-size: 2vw;
    }
    
    .Events h3{
        margin-bottom: 3rem;
        font-weight: 400;
        font-size: 5vw;
        text-align: center;
    }
    
    .Events h3 span{
        color: var(--lightred);
    }
    
    .eListCon{
        display: flex;
        overflow: scroll;
        align-items: top;
        margin-bottom: 3rem;
        width: 100%;
    }

    .eListCon::-webkit-scrollbar {
        display: none;
      }
    
    .eObi{
        min-width: 75%;
        max-height: fit-content;
        background: url(Images/eObi.png) no-repeat;
        background-position: center;
        background-size: cover;
        padding: 15Vh 3% 6vh 3vh;
        border-radius: .4rem;
    }
    
    .eObi .eOmu .eAsagbo, h1{
        font-weight: 400;
        font-size: 4.3vw;
        margin-bottom: 1rem;
    }
    
    .eObi .eOmu .eAsagbo, h1 span{
        color: var(--lightred);
    }
    
    .eCTA{
        display: flex;
        align-items: center;
    }
    
    .eCTAB{
        border: 0;
        padding: .5rem .6rem;
        border-radius: .3rem;
        background: var(--Book);
        color: var(--blue);
        font-size: 2vw;
        font-weight: 400;
        cursor: pointer;
        margin-right: 2vw;
    }
    
    .eCTAV{
        border: none;
        background: 0;
        color: var(--Book);
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: 2vw;
    }
    
    .eCTAV img{
        max-width: 100%;
        height: auto;
        margin-left: .4rem;
    }
    
    .eOmu{
        min-width: 75%;
        max-height: fit-content;
        background: url(Images//eOmu.png) no-repeat;
        background-position: center;
        background-size: cover;
        padding: 15Vh 3% 6vh 3vh;
        margin-left: 5vw;
        border-radius: .4rem;
    }
    
    .eAsagbo{
        min-width: 75%;
        max-height: fit-content;
        background: url(Images/eAsagbo.png) no-repeat;
        background-position: center;
        background-size: cover;
        padding: 15Vh 3% 6vh 3vh;
        margin-left: 5vw;
        border-radius: .4rem;
    }

    .Represent{
        display: flex;
        flex-direction: column;
        align-items: top;
        justify-content: space-between;
        padding: 5rem 6%;
    }
    
    .rpLeft{
        width: 100%;
        margin-right: 9rem;
    }
    
    .rpLeft h1{
        font-weight: 300;
        font-size: 6vw;
        margin-bottom: 3rem;
    }
    
    .Represent details{
        background: var(--gradient);
        margin: 2rem 0;
        font-weight: 600;
        font-size: 3.2vw;
        border-radius: .3rem;
    }
    
    .Represent summary{
        padding: 1rem;
    }
    
    
    .rpLeft p{
        padding: 1rem;
        background: var(--lightgray);
        padding: 2rem ;
        font-weight: 300;
        font-size: 2.4vw;
        text-align: justify;
        border-radius: 0 0 .2rem .2rem;
    }
    
    .rpRight{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .rpRight h2{
        font-weight: 400;
        font-size: 4.8vw;
        text-align: center;
        margin-bottom: 1rem;
    }
    
    .rpRight h2 span{
        color: var(--lightred);
    }
    
    .rpRight p{
        text-align: center;
        font-weight: 400;
        font-size: 2.4vw;
    }
    
    .Obireviews, .Amandareviews{
        display: flex;
        flex-direction: column;
        background: var(--lightgray);
        padding: 2rem;
        margin-top: 2rem;
        border-radius: .5rem;
    }
    
    .revtopp{
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
    }
    
    .revtopp img{
        max-width: 18%;
        height: auto;
        margin-right: .6rem;
    }
    
    .revtopp h6{
        font-weight: 500;
        font-size: 1.8vw;
    }
    
    .Obireviews p{
        text-align: left;
        font-weight: 300;
        font-size: 2vw;
        margin-bottom: 1rem;
    }
    
    .Amandareviews p{
        text-align: left;
        font-weight: 300;
        font-size: 2vw;
        margin-bottom: 1rem;
    }
    
    .revfoot{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .revfootLeft{
        display: flex;
        align-items: center;
    }
    
    .revfoot img{
        max-width: 12%;
        height: auto;
        margin-right: 1rem;
    }
    
    .reaterName h4{
        font-weight: 600;
        font-size: 2vw;
    }
    
    .reaterName h5{
        font-weight: 300;
        font-size: 1.8vw;
        margin-top: .2rem;
        font-style: italic;
    }
    
    .Amandareviews .revfootLeft img{
        max-width: 14%;
        height: auto;
        margin-right: 1rem;
    }

    .Gallery{
        padding: 18vw 9%;
        background: url(Images/Gallerybg.png) no-repeat;
        background-size: cover;
        background-position: center;
    }
    
    .Gallery h1{
        font-size: 4vw;
        font-weight: 900;
        font-family: AvenirBlack;
        font-style: italic;
        line-height: 2.5vh;
    
    }
    
    .Gallery h1 span{
        font-size: 3.2vw;
        font-weight: 400;
        font-family: AvenirBook;
    
    }
    
    .Gallery p{
        font-size: 1.8vw;
        font-weight: 400;
        font-family: AvenirBook;
        font-style: italic;
        margin-bottom: 1rem;
    }
    
    .Gallery button{
        font-size: 1.8vw;
        font-weight: 600;
        padding: .7rem 2.5rem;
        border: 0;
        border-radius: 5rem;
        background: var(--gradient);
        color: var(--Book);
        margin-right: 4rem;
        cursor: pointer;
    }

    .Newsletter{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: 2rem 0 1rem 0;
        background: var(--lightgray);
        padding: 3rem 9%;
    }
    
    .NLright{
        width: 100%;
    }
    
    .NLright h2{
        font-size: 4.6vw;
        font-weight: 600;
        font-family: AvenirBook;
    }
    
    .NLright p{
        font-size: 2vw;
        font-weight: 400;
        font-family: AvenirBook;
        margin-top: .5rem;
    }
    
    .NLright p span{
        color: var(--lightgreen);
    }
    
    .NLLeft{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: left;
        margin-top: 2rem;
    }
    
    .NLLeft input{
        background: var(--blue);
        padding: 2.4vw 4vw;
        border-radius: 5rem;
        border: 0;
        width: 80%;
        font-size: 2.3vw;
        font-weight: 400;
        color: var(--AD);
        margin-left: 0;
        margin-right: 2rem;
    }
    
    .NLLeft button{
        border: 0;
        background: var(--newGradient);
        padding: 1.1vw 5vw;
        border-radius: 5rem;
    }
    
    .NLLeft img{
        max-width: 2.5vw;
        height: auto;
    }


    .Banor{
        background-color: var(--blue);
        display: flex;
    }
    
    .Bannor-con{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5%;
        background: var(--lightgray);
        padding: .8rem;
        border-radius: .5rem;
    }
    
    .banl{
        width: 100%;
        background: url(Images/banor1.png) no-repeat;
        background-size: cover;
        background-position: center;
        height: 35vh;
        border-radius: .2rem;
        margin-right: 0vw;
    }
    
    .banr{
        width: 100%;
        margin-top: 1vh;
    }
    
    .banr h1{
        font-size: 6.5vw;
        font-weight: 500;
        margin-top: 3vh;
    }
    
    .banr h1 span{
        color: var(--lightred);
    }
    
    .banr p{
        font-size: 2.5vw;
        font-weight: 500;
        font-family: AvenirBook;
        margin-right: 1.5rem;
    }
    
}