@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,900;1,100;1,200;1,300;1,500;1,900&display=swap');

:root{
    ---Background: #e1eff2;
    ---headerBG: #ced0d8;
    ---red: #f00707;
    ---black: #000000;
}

*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(---headerBG);
    position: fixed;
    top: 0;
    width: 90%;
    padding: 1% 5%;
}

header img{
    mix-blend-mode: darken;
    max-width: 60%;
    height: auto;
}

header button{
    border: 0;
    background: var(---red);
    color: var(---Background);
    border-radius: .5rem;
    font-size: 15px;
    font-weight: 400;
    padding: .7rem 1.5rem;
    cursor: pointer;
}

.Home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url(Images/Home\ bg.png) no-repeat;
    background-position: center;
    background-size: cover;
    color: var(---Background);
}

.Home h1{
    font-size: 3.3rem;
    font-weight: 200;
    color: var(---red);
}

.Home h1 span{
    font-weight: 800;
}

.Home p{
    margin-top: 1.5rem;
    font-weight: 300;
    font-size: 1.15rem;
    text-align: center;
}

.cta{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.read{
    border: 0;
    background: var(---Background);
    color: var(---black);
    border-radius: 5rem;
    font-size: 15px;
    font-weight: 400;
    padding: .7rem 1.5rem;
    cursor: pointer;
    margin-right: 3rem;
}

.watch{
    display: flex;
    align-items: center;
    border: 0;
    background: 0;
    color: var(---Background);
    border-radius: 5rem;
    font-size: 15px;
    font-weight: 100;
    padding: .7rem 1.5rem;
    cursor: pointer;
}

.watch img{
    margin-right: 1rem;
}

.aboutAnioma{
    margin: 4rem 2%;
    color: var(---Background);
    background: url(Images/about\ bg.png) no-repeat;
    background-position: center;
    background-size: cover;
    padding: 3rem;
    border-radius: 1rem;
}

.aboutAnioma h1{
    font-size: 2.5rem;
    font-weight: 600;
}

.aboutAnioma h1 span{
    color: var(---red);
}

.aboutAnioma h2{
    font-size: .6rem;
    font-weight: 100;
    font-style: italic;
}

.aboutAnioma p{
    margin-top: 4rem;
    font-size: 1.2rem;
    font-weight: 200;
    text-align: justify;
}

.aboutAnioma button{
    border: 0;
    background: var(---red);
    color: var(---Background);
    border-radius: .5rem;
    font-size: 15px;
    font-weight: 400;
    padding: .7rem 1.5rem;
    cursor: pointer;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutAnioma button img{
    margin-left: 1rem;
    max-width: 60%;
    height: auto;
}

.Propellers{
    margin: 7rem 5% 4rem 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.proLeft{
    width: 65%;
    margin-right: 10rem;
}

.proLeft h1{
    font-size: 3.1vw;
    font-weight: 100;
}

.proLeft h2{
    font-size: 4.2vw;
    font-weight: 600;
}

.proLeft h2 span{
    color: var(---red);
}

.proLeft p{
    text-align: justify;
    margin-top: 3rem;
    font-weight: 300;
    font-size: .8rem;
}

.proLeft button{
    border: 0;
    background: var(---red);
    color: var(---Background);
    border-radius: .5rem;
    font-size: 15px;
    font-weight: 400;
    padding: .7rem 1.5rem;
    cursor: pointer;
    margin-top: 3rem;
}

.proright{
    width: 35%;
}

.proright img{
    max-width: 100%;
    height: auto;
}



.grassroot{
    display: flex;
    flex-direction: column;
}

.roottop{
    margin: 3rem 5% 4rem 5%;
}

.roottop h1{
    font-size: 2.3rem;
    font-weight: 700;
}

.roottop h1 span{
    color: var(---red);
}

.roottop p{
    margin-top: 1rem;
    margin-right: 20vw;
    font-size: 15px;
    text-align: justify;
}

.roottop p span{
    font-weight: 900;
}

.rootbottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.remind{
    width: 30%;
    background: url(Images/19.png) no-repeat;
    background-position: center;
    background-size: cover;
    height: 30vw;
    margin-right: 1rem;
}

.remind h1{
    color: var(---Background);
    margin-top: 22vw;
    padding-left: 2vw;
    font-size: 1.4vw;
    font-weight: 300;
    position: relative;
}

.remind h1 span{
    font-size: 2.5vw;
    font-weight: 700;
}

.towns{
    width: 30%;
    background: url(Images/town.png) no-repeat;
    background-position: center;
    background-size: cover;
    height: 30vw;
    margin-right: 1rem;
}

.towns h1{
    color: var(---Background);
    margin-top: 24vw;
    padding-left: 2vw;
    font-size: 1.5vw;
    font-weight: 300;
    position: relative;
}

.history{
    width: 40%;
    background: url(Images/history.png) no-repeat;
    background-position: center;
    background-size: cover;
    height: 30vw;
}

.history h1{
    color: var(---Background);
    margin-top: 24vw;
    padding-left: 2vw;
    font-size: 1.5vw;
    font-weight: 300;
    position: relative;
}

.history h1 span{
    color: var(---red);
}






.Joinhome{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.joinUs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box{
    background: var(---headerBG);
    border-radius: .6rem;
    padding: 3rem 2rem;
    width: 100%;
    margin-top: 2rem;
}

.box h2{
    font-size: 2.8vw;
    font-weight: 600;
    margin-bottom: 3rem;
}

.box input{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1.5rem 0;
    padding: .8rem 0 .8rem .3rem;
    border-radius: .2rem;
    border: 0;
}

.box button{
    border: 0;
    background: var(---red);
    color: var(---Background);
    border-radius: .5rem;
    font-size: 15px;
    font-weight: 400;
    padding: .7rem 1.5rem;
    cursor: pointer;
    width: 100%;
    margin-top: 2rem;
}












@media only screen and (max-width: 600px) {


    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: var(---headerBG);
        position: fixed;
        top: 0;
        width: 90%;
        padding: 3% 5%;
    }

    header img{
        mix-blend-mode: darken;
        max-width: 40%;
        height: auto;
    }

    header button{
        border: 0;
        background: var(---red);
        color: var(---Background);
        border-radius: .2rem;
        font-size: 10px;
        font-weight: 400;
        padding: .7rem 1rem;
        cursor: pointer;
    }

    .Home{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        background: url(Images/Home\ bg.png) no-repeat;
        background-position: center;
        background-size: cover;
        color: var(---Background);
    }
    
    .Home h1{
        font-size: 9vw;
        font-weight: 400;
        color: var(---red);
    }
    
    .Home h1 span{
        font-weight: 800;
    }
    
    .Home p{
        margin-top: 1rem;
        font-weight: 300;
        font-size: 3.1vw;
        text-align: center;
    }
    
    .cta{
        margin-top: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .read{
        border: 0;
        background: var(---Background);
        color: var(---black);
        border-radius: 5rem;
        font-size: 2.4vw;
        font-weight: 400;
        padding: .7rem 1.5rem;
        cursor: pointer;
        margin-right: 1rem;
    }
    
    .watch{
        display: flex;
        align-items: center;
        border: 0;
        background: 0;
        color: var(---Background);
        border-radius: 5rem;
        font-size: 2.4vw;
        font-weight: 400;
        padding: .7rem 1.5rem;
        cursor: pointer;
    }
    
    .watch img{
        margin-right: .5rem;
        max-width: 30%;
        height: auto;
    }

    .aboutAnioma{
        margin: 4rem 0;
        color: var(---Background);
        background: url(Images/about\ bg.png) no-repeat;
        background-position: center;
        background-size: cover;
        padding: 3rem 9%;
        border-radius: 0;
    }
    
    .aboutAnioma h1{
        font-size: 8vw;
        font-weight: 600;
    }
    
    .aboutAnioma h1 span{
        color: var(---red);
    }
    
    .aboutAnioma h2{
        font-size: .6rem;
        font-weight: 400;
        font-style: italic;
    }
    
    .aboutAnioma p{
        margin-top: 3rem;
        font-size: 3.5vw;
        font-weight: 400;
        text-align: justify;
    }
    
    .aboutAnioma button{
        border: 0;
        background: var(---red);
        color: var(---Background);
        border-radius: .2rem;
        font-size: 8px;
        font-weight: 400;
        padding: .7rem 1rem;
        cursor: pointer;
        margin-top: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .aboutAnioma button img{
        margin-left: 1rem;
        max-width: 20%;
        height: auto;
    }


    .Propellers{
        margin: 7rem 5% 4rem 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .proLeft{
        width: 100%;
        margin-right: 0;
    }

    .proLeft h1{
        font-size: 5.4vw;
        font-weight: 400;
    }

    .proLeft h2{
        font-size: 7.2vw;
        font-weight: 600;
    }

    .proLeft h2 span{
        color: var(---red);
    }

    .proLeft p{
        text-align: justify;
        margin-top: 2rem;
        font-weight: 400;
        font-size: .8rem;
    }

    .proLeft button{
        border: 0;
        background: var(---red);
        color: var(---Background);
        border-radius: .5rem;
        font-size: 15px;
        font-weight: 400;
        padding: .7rem 1.5rem;
        cursor: pointer;
        margin-top: 2rem;
    }

    .proright{
        width: 100%;
        margin-top: 4rem;
        background: url(Images/anioma\ mobile\ card.png) no-repeat;
        background-position: center;
        background-size: cover;
        height: 60vw;
    }

    .proright img{
        max-width: 100%;
        height: auto;
        display: none;
    }

    .grassroot{
        display: flex;
        flex-direction: column;
    }
    
    .roottop{
        margin: 1rem 5% 4rem 5%;
    }
    
    .roottop h1{
        font-size: 8vw;
        font-weight: 700;
    }
    
    .roottop h1 span{
        color: var(---red);
    }
    
    .roottop p{
        margin-top: 2rem;
        margin-right: 0;
        font-size: 15px;
        text-align: justify;
    }
    
    .roottop p span{
        font-weight: 900;
    }
    
    .rootbottom{
        display: flex;
        flex-direction: column;
        overflow: auto;
        scroll-snap-type: x mandatory;
    }

    .rootbottom > .remind{
        max-width: 100%;
        scroll-snap-align: start;
    }
    
    .remind{
        width: 100%;
        background: url(Images/19.png) no-repeat;
        background-position: bottom;
        background-size: cover;
        height: 40vw;
        margin-right: 0;
    }
    
    .remind h1{
        color: var(---Background);
        margin-top: 25vw;
        padding-left: 4vw;
        font-size: 2.5vw;
        font-weight: 300;
        position: relative;
    }
    
    .remind h1 span{
        font-size: 4vw;
        font-weight: 700;
    }
    
    .towns{
        width: 100%;
        background: url(Images/town.png) no-repeat;
        background-position: bottom;
        background-size: cover;
        height: 40vw;
        margin-right: 0;
        margin-top: .5rem;
    }
    
    .towns h1{
        color: var(---Background);
        margin-top: 29vw;
        padding-left: 4vw;
        font-size: 2.5vw;
        font-weight: 300;
        position: relative;
    }
    
    .history{
        width: 100%;
        background: url(Images/history.png) no-repeat;
        background-position: bottom;
        background-size: cover;
        height: 40vw;
        margin-top: .5rem;
    }
    
    .history h1{
        color: var(---Background);
        margin-top: 29vw;
        padding-left: 4vw;
        font-size: 2.5vw;
        font-weight: 300;
        position: relative;
    }
    
    .history h1 span{
        color: var(---red);
    }

    
}